<h1>Edit Book</h1>

<%= simple_form_for @book do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.input :title, label: "Book Title" %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.button :submit %>
  <%= link_to "Back", root_path %>
<% end %>

